
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h1>Lavanderia</h1>
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <a href="<%=new_client_path%>" class="btn btn-primary btn-client">+ Cliente</a>
                    </div>
                     <div class="col-sm-4">
                        <a href="<%=new_peca_path%>" class="btn btn-primary btn-peca"><i class="fa fa-plus-circle"></i> Peça</a>                     
                    </div>
                </div>
            </div>
        </div>
    <!-- /#page-content-wrapper -->

    </div>
<!-- /#wrapper -->
