
  <h3 class="show-title", align="center">Editando Peça</h3>

<%= render 'form', peca: @peca %>

<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, @peca %> | 
<%= link_to '<i class="fa fa-undo"></i>'.html_safe, pecas_path %>

