<div id="page-content-wrapper">
<% content_for :title do %>Sobre o Site<% end %>
<h3>Lavanderia</h3>
<p>
essa aplicação serve para gerenciar uma lavanderia em seus minimos detalhes gerenciais 
<%= link_to('nos visite no faceboook', 'http://facebook.com.br/') %>
from the <%= link_to('facebook', 'http://facebook.com.br/') %>.
</p>
<div id="page-content-wrapper">